<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/B%C3%A0i_3_Thao_t%C3%A1c_d%E1%BB%AF_li%E1%BB%87u.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bài 3 - Thao tác dữ liệu
1. Lọc dữ liệu
2. Gom nhóm dữ liệu
3. Sinh cột dữ liệu từ các dữ liệu có sẵn

# 1. Lọc dự liệu
- loc
- iloc
- toán tử ngoặc vuông
- filter
- query

# Loc
- Cú pháp là: loc[dòng, cột] phân cách bởi dấu phẩy
  + dòng: có thể là [chỉ số dòng] hoặc [khoảng dòng (chỉ số đầu: chỉ số cuối)] hoặc là [danh sách dòng]
  + cột: có thể là [nhãn của cột] hoặc [danh sách cột] hoặc là [khoảng cột (nhãn đầu: nhãn cuối)]
  + Trong trường hợp không có dấu phẩy và chỉ có 1 thành phần thì được hiểu là đang truy suất dòng.
- Mục tiêu: Lọc ra một vùng của data frame, sử dụng nhãn
- Hỗ trợ cả các phép so sánh

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31020936/GDPlist.csv", encoding="ISO-8859-1")

In [3]:
df.head(10)

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644
5     Australia        Oceania                1488221
6       Austria         Europe                 419243
7    Azerbaijan         Europe                  62321
8       Bahrain           Asia                  26108
9    Bangladesh           Asia                 113032

# Lấy cột Country và Continent, dòng 4 và 5

In [4]:
df.loc[4:5, 'Country':'Continent']

      Country      Continent
4   Argentina  South America
5   Australia        Oceania

In [5]:
type(df.loc[4:5, 'Country':'Continent'])

pandas.core.frame.DataFrame

# Lấy dữ liệu theo cột

In [6]:
df.loc[0:df.shape[0], 'Country']

0       Afghanistan
1           Albania
2           Algeria
3            Angola
4         Argentina
           ...
120      Uzbekistan
121       Venezuela
122         Vietnam
123           Yemen
124          Zambia
Name: Country, Length: 125, dtype: object

In [7]:
type(df.loc[:, 'Country'])

pandas.core.series.Series

# Lọc dữ liệu theo điều kiện

In [8]:
df['GDP (millions of US$)'].max()

15094025

In [9]:
df.loc[df['GDP (millions of US$)']>15000000]

            Country      Continent  GDP (millions of US$)
118   United States  North America               15094025

# Hàm iloc
Sử dụng thuần về số nguyên để làm chỉ số lọc dữ liệu
- Cú pháp iloc[dòng, cột]
    + Tham số thì giống loc nhưng chỉ sử dụng số nguyên

# Dùng iloc để lọc một vùng dữ liệu

In [10]:
df.iloc[4:6, 0:2]

      Country      Continent
4   Argentina  South America
5   Australia        Oceania

# Toán ngoặc vuông []
- Để lọc dòng cú pháp df[chỉ số đầu: chỉ số cuổi] (có dấu hai chấm)
- Lọc theo cột: [tên cột], [danh sách tên cột] hoặc [khoản cột]

- Lọc theo cột

In [11]:
df['Country']

0       Afghanistan
1           Albania
2           Algeria
3            Angola
4         Argentina
           ...
120      Uzbekistan
121       Venezuela
122         Vietnam
123           Yemen
124          Zambia
Name: Country, Length: 125, dtype: object

In [12]:
type(df['Country'])

pandas.core.series.Series

- Lọc theo một nhóm cột

In [13]:
df[['Country', 'Continent']]

          Country      Continent
0     Afghanistan           Asia
1         Albania         Europe
2         Algeria         Africa
3          Angola         Africa
4       Argentina  South America
..            ...            ...
120    Uzbekistan           Asia
121     Venezuela  South America
122       Vietnam           Asia
123         Yemen         Africa
124        Zambia         Africa

[125 rows x 2 columns]

In [14]:
type(df[['Country', 'Continent']])

pandas.core.frame.DataFrame

- Lấy ra các dòng

In [15]:
df[4:6]

      Country      Continent  GDP (millions of US$)
4   Argentina  South America                 447644
5   Australia        Oceania                1488221

Bài tập: tìm các sử dụng toàn tử ngoặc vuông lấy ra dòng 4,5 của cột Country và Continent trên một dòng lênh thôi.

- Nếu dùng hàm loc[4:5, 'Country':'Continent']
- Nếu dùng hàm iloc[4:6, 0:2]

In [16]:
df[4:6][['Country', 'Continent']]

      Country      Continent
4   Argentina  South America
5   Australia        Oceania

In [17]:
df_1 = df[4:6]

In [18]:
type(df_1)

pandas.core.frame.DataFrame

In [19]:
df_2 = df_1[['Country', 'Continent']]
df_2

      Country      Continent
4   Argentina  South America
5   Australia        Oceania

In [20]:
df.loc[4:5, 'Country':'Continent']

      Country      Continent
4   Argentina  South America
5   Australia        Oceania

# Hàm filter
- Cú pháp filter(items=None, like=None, regex=None, axis=None)
- Ứng dụng: để lấy ra một tập con của dataframe, kết quả trả ra thì có thể là DataFrame
- axis = 0 là lọc dữ liệu theo dòng
- axis = 1 lọc dữ liệu theo cột
- regex: cú pháp hỗ trợ tìm kiếm linh động theo tên (chỉ số) dòng hoặc cột
- like: tìm kiếm trên nhãn nhãn của chỉ số dòng hoặc cột

- Trong trường hợp không dùng regex, hơi giống toán tử ngoặc vuông và các hàm ở trên

In [21]:
df.filter(items=['Country', 'Continent'], axis=1)

          Country      Continent
0     Afghanistan           Asia
1         Albania         Europe
2         Algeria         Africa
3          Angola         Africa
4       Argentina  South America
..            ...            ...
120    Uzbekistan           Asia
121     Venezuela  South America
122       Vietnam           Asia
123         Yemen         Africa
124        Zambia         Africa

[125 rows x 2 columns]

In [22]:
df.filter(items=['Country', 'Continent'], axis=1)[4:6]

      Country      Continent
4   Argentina  South America
5   Australia        Oceania

# Sử dụng like

In [23]:
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [24]:
df.filter(like="nt", axis=1)

          Country      Continent
0     Afghanistan           Asia
1         Albania         Europe
2         Algeria         Africa
3          Angola         Africa
4       Argentina  South America
..            ...            ...
120    Uzbekistan           Asia
121     Venezuela  South America
122       Vietnam           Asia
123         Yemen         Africa
124        Zambia         Africa

[125 rows x 2 columns]

In [25]:
df.filter(like="ntr", axis=1)

          Country
0     Afghanistan
1         Albania
2         Algeria
3          Angola
4       Argentina
..            ...
120    Uzbekistan
121     Venezuela
122       Vietnam
123         Yemen
124        Zambia

[125 rows x 1 columns]

In [26]:
type(df.filter(like="ntr", axis=1))

pandas.core.frame.DataFrame

# Dùng lệnh like lọc theo dòng

In [27]:
df.filter(like="9", axis=0)

           Country      Continent  GDP (millions of US$)
9       Bangladesh           Asia                 113032
19        Cambodia           Asia                  12861
29         Croatia         Europe                  63842
39        Ethiopia         Africa                  31256
49       Hong Kong           Asia                 243302
59         Jamaica  North America                  14807
69      Luxembourg         Europe                  58412
79     New Zealand        Oceania                 161851
89          Poland         Europe                 513821
90        Portugal         Europe                 238880
91           Qatar           Asia                 173847
92         Romania         Europe                 189776
93          Russia           Asia                1850401
94    Saudi Arabia           Asia                 577595
95         Senegal         Africa                  14461
96          Serbia         Europe                  45064
97       Singapore           Asia                 259849
98        Slovakia         Europe                  96089
99        Slovenia         Europe                  49588
109       Thailand           Asia                 345649
119        Uruguay  South America                  46872

- Sử dụng lệnh regex

In [29]:
df.filter(regex='y$' ,axis=1)

          Country
0     Afghanistan
1         Albania
2         Algeria
3          Angola
4       Argentina
..            ...
120    Uzbekistan
121     Venezuela
122       Vietnam
123         Yemen
124        Zambia

[125 rows x 1 columns]

# Hàm query
Chỉ lọc được dữ liệu theo cột

In [ ]:
df[df['Country'].str.contains('ria$')]

In [30]:
import numpy as np

In [39]:
arr = np.random.randint(int(df['GDP (millions of US$)'].min())-100, int(df['GDP (millions of US$)'].max())+10000, size=(df.shape[0]))

In [40]:
arr

array([  609654,  2974665,  9294167, 12121539,  1421849,  3768917,
       12647895,  6593439, 11603809,  2649861,  2428066,   572041,
        1889620,  7178563, 13267307,  8684619,  1636803,  5479137,
        4285916,  5422697,  9603441, 10410020, 10516887,   577590,
        7719911, 13271298,  7463432,  3946319,  9416840,  9195708,
       13780062, 10248713,  5286834,  6404878,  1221434,  6217396,
        2507835,   839778,  4071014, 14565519, 14964706,  2895424,
        2090616,  4429204, 13998939, 13583861,  6763916,  4494383,
       13929325,  9686256,  9086053, 14557008, 12200221,  3126926,
       10901464, 10956737,  2012362, 11926591, 12135803,  8112153,
       10111067,   457397,  9607053,  8345150, 13502338,  8683811,
         451482,  4139093,  9715170,  4570619,  7015413,  2162924,
         432012, 14253326, 12259029,   561417,  9143727,  8310405,
        7270257,  4811658, 12227078, 10553749,  9965356,  9286874,
        9418987, 14910916,  9527296, 13077590,  1359378,  4597477,
       13984795,  3913735, 11411544,  6234745, 12664562,  4387941,
        7669879,  6414169,  7709333, 12422053, 12826846, 12060283,
        2529035, 10477835,  3777387,  3228143,  2293677,  9435194,
       12754362, 13412088,  1053691,  2527691,  1617513,  8845053,
       13328802,  9772288,  8615123,  9045340,  8838574,    52374,
       10136037,  5652119, 11986564,  7237079, 11833131])

In [52]:
df['randint']=pd.Series(arr)

In [53]:
df.head()

        Country      Continent     GDP   randint
0   Afghanistan           Asia   18181    609654
1       Albania         Europe   12847   2974665
2       Algeria         Africa  190709   9294167
3        Angola         Africa  100948  12121539
4     Argentina  South America  447644   1421849

In [54]:
df = df.rename(columns={"GDP (millions of US$)":"GDP"})

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    125 non-null    object
 1   Continent  125 non-null    object
 2   GDP        125 non-null    int64
 3   randint    125 non-null    int64
dtypes: int64(2), object(2)
memory usage: 4.9+ KB

In [55]:
df.head()

        Country      Continent     GDP   randint
0   Afghanistan           Asia   18181    609654
1       Albania         Europe   12847   2974665
2       Algeria         Africa  190709   9294167
3        Angola         Africa  100948  12121539
4     Argentina  South America  447644   1421849

In [56]:
df_4 = df.query('GDP > randint')

In [58]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 23 to 118
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    2 non-null      object
 1   Continent  2 non-null      object
 2   GDP        2 non-null      int64
 3   randint    2 non-null      int64
dtypes: int64(2), object(2)
memory usage: 80.0+ bytes

In [60]:
df_4

            Country      Continent       GDP  randint
23            China           Asia   7298147   577590
118   United States  North America  15094025  8838574

# Có rất nhiều lệnh tương đương query

In [62]:
df_5 = df[df.GDP>df.randint]
df_5

            Country      Continent       GDP  randint
23            China           Asia   7298147   577590
118   United States  North America  15094025  8838574

# Nhóm dữ liệu
- Sử dụng hàm groupby
- Cú pháp là: 
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=NoDefault.no_default, observed=False, dropna=True)[source]
- Trong đó by có thể là map, function, nhãn (lable) hoặc danh sách nhãn (ví dụ ['Continent',..]
- Kết quả trả ra là DataFrameGroupBy, nên để lấy kết quả cuối cùng cần sử dụng thêm với ['Tên côt'].hàm()
hàm thì có thể là sum, count, ...